#bills {
    background-color: rgb(44, 44, 44);
}

.billing-bills {
    position: relative;
    max-height: 45vh;
    overflow: auto;
}

.fine-pay-bill {
    position: absolute;
    transition: 0.2s;
    right: 2vh;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    font-size: 2.3vh;
}

.fine-pay-bill:hover {
    transform: skew(3deg) translate(0, -50%);
    font-size: 2.5vh;
    color: rgb(130, 138, 130);
}