#meos {
    background-color: rgb(255, 255, 255);
}

.meos-top-bar {
    position: relative;
    height: 8vh;
    width: 100%;
    background-color: #004682;

    display: flex;
    margin-bottom: 1vh;
    overflow: hidden;
    align-items: center;
}
.meos-police-icon {
    position: relative;
    width: 6vh;
    height: 6vh;
    background-size: cover;
    margin-left: 1vh;
    margin-top: 2vh;
    background-position: center;
}

.meos-police-name {
    position: relative;
    font-family: "Open Sans Condensed", sans-serif;
    margin-top: 2vh;
    font-size: 1.4vh; 
    color: white;
}

.meos-options {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.meos-option {
    transition: 1s;
    position: relative;
    width: 11vh;
    user-select: none;
    margin: 0.5vh;
    border-radius: 0.2rem;
    height: 11vh;
    background-color: #004682;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Open Sans Condensed", sans-serif;

    font-size: 1.6vh; 
    color: white;
}
.meos-option:hover {
    cursor: default;
    transform: scale(0.9);
}

.meos-close-button {
    position: relative;
    margin-left: 2vh;
    margin-top: 1vh;
    padding: 1vh;
    background-color: #004682;
    width: fit-content;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3vh;
    font-weight: 400;
    border-radius: 0.8rem;
}
.title-element-meos-sub {
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3vh;
    font-weight: bold;
    margin-left: 2vh;
}

.meos-search-input > input {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    background-color: white;
    border: none;
    border-bottom: #004682 solid 0.4vh;
    outline: none;
    width: 85%;
    
    height: 3vh;
}

.search-button-meos {
    position: relative;

    margin-top: 1vh;
    padding: 1vh;
    background-color: #004682;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3vh;
    text-align: center;
    width: 80%;
    transform: translate(-50%);
    left: 50%;
    font-weight: 400;
    border-radius: 0.8rem;
}

.meos-close-person {
    position: absolute;

    padding: 1vh;
    background-color: #004682;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3vh;
    text-align: center;
    width: fit-content;
    margin-left: 2vh;
    font-weight: 400;
    border-radius: 0.8rem;
    bottom: 4vh;
}

.meos-search-persons {
    position: relative;
    width: 100%;
    margin-top: 1vh;
    height: 30vh;
   
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.person-result {
    position: relative;
    width: 90%;
    height: 5vh;
    min-height: 5vh;
    margin-bottom: 0.3vh;
    background-color: #004682;
    border-radius: 0.2rem;
    align-items: center;
    display: flex;
}

.person-result-logo {
    position: relative;
    margin-left: 0.6vh;
    width: 4vh;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-size: 1.7vh;
}
.person-result-info {
    margin-left: 1vh;
}
.person-result-name {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4vh;
    color: white;
}
.person-result-nationality {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1vh;
    color: white;
}

.meos-search-person-stats {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: auto;
}

.meos-stat-cat {
    position: relative;
}
.meos-cat-title {
    position: relative;
    margin-left: 2vh;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4vh;
    color: rgb(0, 0, 0);
}

.meos-stat {
    position: relative;
    width: 82%;
    margin-top: 0.2vh;
    transform: translate(-50%);
    margin-bottom: 0.3vh;
    left: 50%;
    padding: 0.65vh;
    border-radius: 0.3rem;
    background-color: rgb(196, 196, 196);
}
.stat-name {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vh;
    font-weight: bold;
}
.stat-data {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4vh;
    word-break: break-all;
    max-width: 100%;
}

.create-report {
    margin-top: 1vh;
    position: relative;
    padding: 1vh;
    border-radius: 0.4rem;
    width: fit-content;
    margin-left: 2vh;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vh;
    color: white;

    background-color: #004682;
}

.report {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1vh;
    position: relative;
    padding: 1vh;
    border-radius: 0.4rem;
    width: 20%;
    width: 80%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vh;
    color: white;

    background-color: #004682;
}

.create-report-input {
    position: relative;
    width: 90%;
    transform: translate(-50%);
    left: 50%;
    margin-top: 1vh;
}
.create-report-input > .create-input-title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vh;
    color: rgb(0, 0, 0);
}
.create-report-input > input {
    width: 95%;
    outline: none;
    border: none;
    height: 3vh;
    border-bottom: #004682 solid 0.4vh;
}
.meos-span {
    position: relative;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vh;
    min-width: 100%;
    min-height: 20vh;
    overflow: auto;
    max-height: 20vh;
    display: block;
    border-bottom: #004682 solid 0.4vh;
}
img {
    position: relative;
    margin: 1vh;
    max-height: 14vh;
    max-width: 16vh;
    width: 20vh;
    height: 20vh;
    overflow: hidden;
}
#phone-background {
    margin: unset !important;
    max-width: unset !important;
    max-height: unset !important;
}
.meos-save-report {
    position: relative;

    margin-top: 1vh;
    transform: translate(-50%);
    padding: 1vh;
    left: 50%;
    background-color: #004682;
    width: 80%;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3vh;
    font-weight: 400;
    border-radius: 0.8rem;
}

#vehicle-search-color {
    position: relative;
    height: 2vh;
    border-radius: 0.2rem;
    background-color: red;
    width: 10vh;
}

.meos-employee {
    position: relative;
    transition: 1s;
    width: 86%;
    background-color: #004682;
    height: fit-content;
    left: 50%;
    margin-bottom: 0.3vh;
    transform: translate(-50%);
    padding: 0.8vh;
}

.meos-employee:hover {
    cursor: default;

}

.employee-name {
    position: relative;
    top: 0.5vh;
    left: 1vh;
    font-family: "Open Sans ", sans-serif;
    font-size: 2vh;
    color: white;
    font-weight: 500;
}

.employee-stat {
    position: relative;
    margin-left: 1vh;
    margin-top: 1vh;

}
.employee-stat-name {
    position: relative;

    font-family: "Open Sans ", sans-serif;
    font-size: 1vh;
    color: white;
    font-weight: 500;
}
.employee-stat-value {
    position: relative;

    font-family: "Open Sans ", sans-serif;
    font-size: 1.7vh;
    color: white;

}

.police-alert {
    position: relative;
    width: 80%;
    left: 50%;
    border-radius: 0.2rem;
    background-color: #004682;
    transform: translate(-50%);
    padding: 1vh;
    margin-bottom: 0.2vh;
}

.alert-title {
    position: relative;

    font-family: "Open Sans ", sans-serif;
    font-size: 1.5vh;
    color: white;
}
.alert-message {
    position: relative;

    font-family: "Open Sans ", sans-serif;
    font-size: 1.3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    word-break: break-all;
    max-width: 18vh;
    color: white;
}

.alert-location {
    border-radius: 0.3rem;
    background-color: white;
    padding: 1vh;
    font-family: "Open Sans ", sans-serif;
    font-size: 1.3vh;
    text-align: center;
}

.fine {
    position: relative;
    width: 77%;
    transform: translate(-50%);
    left: 50%;
    border-radius: 0.2rem;
    background-color: #004682;
    display: flex;
    margin-top: 0.3vh;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
    justify-content: center;
}

.fine-title {
    font-family: "Open Sans ", sans-serif;
    font-size: 1.6vh;
    color: white;
}

.fine-creator {
    font-family: "Open Sans ", sans-serif;
    font-size: 1.3vh;
    color: white;
}

.fine-price {
    font-family: "Open Sans ", sans-serif;
    font-size: 1.7vh;
    color: white;
    font-weight: bold;
}
.meos-search-person-stats > input {
    position: relative;
    width: 82%;
    font-family: "Open Sans ", sans-serif;
    font-size: 1.7vh;
    border: none;
    border-bottom: #004682 solid 0.4vh;
    outline: none;
    left: 50%;
    transform: translate(-50%);
}
.fines-list {
    position: relative;
    height: 100%;
    width: 100%;
}

.fine-remove {
    position: absolute;
    transition: 1s;
    left: 1vh;
    top: 1vh;
    font-weight: 900;
    color: white;
    font-size: 1.5vh;
}
.fine-remove:hover {
    transform: scale(1.2);
}