.paypal-background {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.945);
}

.paypal-title-container {
    position: relative;
    top: 4vh;
    left: 50%;

    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    transform: translate(-50%);
    font-weight: 900;
    width: 70%;
}

.paypal-top-account {
    position: relative;
    top: 3vh;
    left: 2vh;
    width: 4vh;
    overflow: hidden;
    height: 4vh;

    border-radius: 50%;
}

.icon-logo {
    position: absolute;
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
}

.paypal-saldo-display {
    position: relative;
    width: 90%;
    height: 5vh;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    margin-top: 5vh;
    

    border-radius: 0.6rem;
    display: flex;
    box-shadow: 1px 1px 1px 1px #00000013;
    align-items: center;
}
.paypal-logo-icon {
    position: relative;
    height: 4vh;

    width: 4vh;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1vh;
}

.bank-saldo {
    position: relative;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}
.paypal-info {
    position: relative;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    font-size: 1.2vh;
}

.paypal-recent-contacts {
    position: relative;
    margin-top: 1vh;
    width: 100%;
    transform: translate(-50%);
    height: fit-content;
    min-height: 10vh;

    background-color: white;
    left: 50%;
}
.paypal-title {
    position: relative;
    margin-left: 2vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.5vh; 
}

.paypal-recent {
    position: relative;
    width: 100%;
    overflow: auto;
    margin-top: 1vh;
    overflow: auto;
    display: flex;
}

.paypal-contact {
    position: relative;
    height: fit-content;
    margin-left: 2vh;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.4vh;
    display: flex;
}
.paypal-contact-icon {
    position: relative;
    border-radius: 50%;
    width: 5vh;
    overflow: hidden;
    height: 5vh;
}
.paypal-contact-name {
    position: relative;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.2vh; 
}

::-webkit-scrollbar
{
	width: 2px;
    height: 4px;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(37, 138, 206);
}

.paypal-recent-active {
    position: relative;
    margin-top: 1vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 27vh;
}

.paypal-history {
    position: relative;
    margin-top: 1vh;
    max-height: 90%;
    overflow: auto;
}

.history-bank {
    position: relative;
    display: flex;
    align-items: center;
}

.history-icon {
    position: relative;
    margin-left: 0vh;
    width: 4vh;
    margin-left: 2vh;
    height: 4vh;
    border-radius: 50%;
    overflow: hidden;
}

.history-title {
    position: relative;
    
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 900;
    font-size: 1.5vh; 
}

.history-subtitle {
    position: relative;
    max-width: 12vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.2vh; 
}

.history-amount {
    position: absolute;
    right: 2vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 800;
}

.paypal-app-back {
    position: relative;
    top: 4vh;
    left: 2vh;
    color: white;
}
#paypal-transfer {
    background-color: rgb(37, 138, 206);
}
#paypal-account {
    background-color: rgb(37, 138, 206);
}
.paypal-account-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.945);
    width: 100%;
    height: 100%;
    margin-top: 8vh;
}
.paypal-account-title {
    position: absolute;
    width: fit-content;
    transform: translate(-50%);
    margin-top: 2vh;
    left: 50%;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.6vh;
}

.paypal-account-image {
    position: absolute;
    left: 2vh;
    top: -3.5vh;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: black;
    border: white solid 0.5vh;

    background-size: cover;
    background-position: center;
}

.paypal-settings {
    position: relative;
    width: 100%;
    height: 100%;
}
.paypal-settings-title {
    position: relative;
    top: 5vh;
    left: 2vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 2vh;
}

.paypal-settings-container {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 90%;
    margin-top: 5vh;
    max-height: 65%;
    overflow: auto;

}

.paypal-setting {
    position: relative;
    margin-top: 1vh;
    overflow: hidden;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 100%;

    display: flex;
    align-items: center;
}

.part-content-name {
    position: relative;
    margin-left: 1vh;
    opacity: 0.7;
    font-family: "Open Sans", sans-serif;
    height: fit-content;
    font-size: 1.4vh;
}


.paypal-input > input {
    position: relative;
    height: fit-content;

    margin-left: 1vh;
    
    font-family: "Open Sans Condensed", sans-serif;
    min-width: 18vh;
    font-size: 1.7vh;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    color: black;
    background-color: transparent;
    
}

.paypal-save-button {
    position: relative;
    padding: 1vh;
    background-color: rgb(37, 138, 206);
    font-family: "Open Sans Condensed", sans-serif;
    margin-top: 1vh;
    border-radius: 1rem;
    color: white;
    text-align: center;
    font-weight: 900;
}

.paypal-send-money {
    position: absolute;
    padding: 1vh;
    background-color: rgb(37, 138, 206);
    font-family: "Open Sans Condensed", sans-serif;
    margin-top: 0vh;
    border-radius: 1rem;
    right: 1vh;
    font-size: 1.2vh;
    color: white;
    text-align: center;
    font-weight: 900;
}
.paypal-info-foundtarget {
    transition: 1s;
    position: relative;
    padding: 0.4vh;
    background-color: rgb(37, 138, 206);
    font-family: "Open Sans Condensed", sans-serif;
    margin: 1vh;
    border-radius: 1rem;
    right: 1vh;
    font-size: 1vh;
    width: fit-content;
    color: white;
    text-align: center;
    font-weight: 900;
}