@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");


.settings-main-container {
    position: absolute;
    right: 3vh;
    border-radius: 0.1rem;
    background-color: rgba(39, 37, 46, 0.8);
    width: 53vh;
    top: 50%;
    transform: translate(0, -50%);
    height: 60vh;
    overflow: hidden;
}

.settings-main-container-title {
    position: relative;
    background-color: rgba(43, 43, 43, 0.200);
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.main-title {
    margin-left: 2vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700 !important;
    font-size: 2vh;
    margin-top: 1vh;
    color: rgb(255, 255, 255);
}
.sub-title {
    margin-left: 2vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700 !important;
    font-size: 1.3vh;
    margin-bottom: 0.5vh;
    color: rgb(255, 255, 255);
}

.main-title-setting {
    margin-left: 2vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700 !important;
    font-size: 2vh;
    margin-top: 1vh;
    color: rgb(255, 255, 255);
}

.settings-keybinds {
    position: relative;
    width: 100%;
    margin-top: 1vh;
    

    min-height: 10vh;
    height: fit-content;
    transform: translate(-50%);
    left: 50%;
}
.settings-inventory {
    position: relative;
    width: 100%;
    margin-top: 1vh;
    min-height: 10vh;
    height: fit-content;
    transform: translate(-50%);
    left: 50%;
}

.settings-keybinds-active {
    position: relative;
    width: 100%;
    display: flex;
    margin-left: 1vh;
    overflow: auto;
    max-height: 20vh;
    max-width: 90%;
    flex-direction: row;
    flex-wrap: wrap;

    height: fit-content;
}

.active-keybind {
    position: relative;
    margin-left: 1vh;
    display: flex;
    margin-bottom: 1vh;
    padding: 1vh;
    background-color: rgb(31, 31, 31);
}
.key {
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 0.2rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700 !important;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.7vh;
}
.action {
    position: relative;
    color: white;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    margin-left: 1vh;
    justify-content: center;

    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400 !important;
}

::-webkit-scrollbar {
    width: 0.3vh;
    background-color: rgb(255, 255, 255);
}

.add-keybind {
    position: relative;
    margin-left: 2vh;
    background-color: rgba(0, 0, 0, 0.500);
    height: 3vh;
    border-radius: 0.3rem;
    margin-bottom: 1vh;
    width: 30vh;
}

.add-keybind > input {
    position: absolute;
    height: 100%;
    outline: none;
    background-color: transparent;
    margin-left: 1vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400 !important;
    width: 70%;
    color: white;
    border: none;
}

.add-keybind-button {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    background-color: rgba(0, 0, 0, 0.500);
    width: 2vh;
    height: 2vh;
    border-radius: 0.3rem;
    right: 1vh;
    font-size: 1vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.inventory-setting {
    position: relative;
    margin-left: 2vh;
}
.setting-title {

    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700 !important;
    font-size: 1.5vh;
    margin-top: 1vh;
    color: white;
}
.inventory-setting > input {
    height: 3vh;
    outline: none;
    border: none;
    background-color: transparent;
    width: 45vh;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700 !important;
    border-bottom: rgb(255, 255, 255) solid 2px;
    color: white;
}
