@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

@font-face{
    font-family: graph;
    src: url(fonts/graph.otf);
}

* {
    user-select: none;
}

.menu-main-container {
    position: absolute;
    right: 5vh;
    top: 50%;
    width: fit-content;
    border-radius: 0.1rem;

    height: fit-content;
    transform: translate(0, -50%);
    background-color: rgba(39, 37, 46, 0.8);
    padding: 1vh;

    display: flex;
    flex-direction: column;
}

.menu-title {
    position: relative;
    font-size: 3vh;
    margin-bottom: 0.3vh;

    color: white;
    text-transform: uppercase;
    float: right;
    font-weight: 700;
    font-family: "Open Sans Condensed", sans-serif;
}

.menu-inner-container {
    position: relative;
    width: fit-content;
    display: flex;
}

.menu-selection-container {
    position: relative;
   
    width: fit-content;
    height: 65vh;
    border-right: white solid 0.2vh;
    padding: 0.5vh;
    margin-right: 1vh;

}
.menu-options-container {
    position: relative;
    width: 30vh;
    height: 65vh;
    padding: 0.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
  


    max-height: 65vh;
    overflow: auto;
}

.option {
    position: relative;
    padding: 1vh;
    transition: 0.2s;
    background-color: rgba(39, 37, 46, 0.8);
    margin: 1vh;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
}
.option:hover {
    transform: scale(0.8) skew(4deg);
}

.opt {
    display: none;

    display: flex;

    height: 97%;
    width: 100%;


    flex-direction: column;
}

.input-option {
    position: relative;
  
    width: fit-content;

    margin-bottom: 1vh;

    display: flex;
    flex-direction: column;

}
.input-option-title {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    color: white;

}
.input-option > input {
    position: relative;
    border: none;
    width: fit-content;
    outline: none;
    padding: 0.5vh;
    background-color: rgba(39, 37, 46, 0.8);
    border-bottom: white solid 0.2vh;
    width: 28vh;

    color: white;
    font-family: "Open Sans Condensed", sans-serif;
}

.confirm-button {
    position: relative;

    border-radius: 0.1rem;
    background-color: rgba(39, 37, 46, 0.8);
    padding: 0.5vh;
    margin-top: 0.5vh;
    width: fit-content;
    margin-right: 0.5vh;

    color: white;
    font-family: "Open Sans Condensed", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.player {
    position: relative;
    width: 100%;
    border-left: white solid 0.2vh;
    padding: 0.7vh;
    transition: 0.1s;

    color: white;
    font-family: "Open Sans Condensed", sans-serif;
}
.player:hover {
    background-color: rgba(0, 0, 0, 0.600);
    margin-left: 0.5vh;
}

.menu-log {
    position: absolute;
    width: fit-content;
    left: 2vh;
    height: 10vh;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 1vh;

    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 30vh;
}
.log-item {
    color: rgb(20, 20, 20);
    margin-right: 2vh;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
}