
@font-face {
    font-family:"bold-main";
    src: url("./fonts/Chivo-Bold.otf") format("truetype");
}
@font-face {
    font-family:"chivo";
    src: url("./fonts/Chivo-Regular.otf") format("truetype");
}

body {
    overflow: hidden;
    z-index: 1000;
}
* {
    user-select: none;
}

.screen-fade-in {
    position: absolute;
    z-index: 10000;
    top: 0vh;
    left: 0vh;
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background {
    position: absolute;
    left: 0vh;
    top: 0vh;
    width: 100%;

    transform: 3s;

    background-image: url(https://images6.alphacoders.com/105/1050926.jpg);
    height: 100%;
    animation: fade 5s  infinite;
    background-size: cover;
    opacity: 0.3;
    background-position: center;

}

.loading-bar {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%);
    width: 60vh;
    height: 3vh;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.100);
}

.loading-bar-inner {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: white;
}

.css-loader {
    position: relative;
}

.server-name {
    position: relative;
    font-family: "bold-main";
    font-size: 5vh;
    color: white;
    text-transform: uppercase;
}

.server-sub-name {
    position: relative;
    font-family: "chivo";
    font-size: 1vh;
    color: white;
    text-transform: uppercase;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  

  @keyframes fade {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.1;
    }
  }
  

  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }